body{

    margin: 0;
    padding: 0;

    font-family: 'Libre Baskerville', serif;

    overflow-x: hidden;
}

/* NAVBAR */

.custom-navbar{

    background: rgba(10,10,15,.95);

    backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255,187,0,.2);
}

.navbar-brand{

    color: #f0b22d !important;

    font-family: 'Cinzel', serif;

    font-size: 30px;
}

.navbar-brand span{

    color: #2f7fff;
}

.nav-link{

    color: white !important;

    margin: 0 10px;

    text-transform: uppercase;

    font-size: 13px;

    transition: .3s;
}

.nav-link:hover{

    color: #f0b22d !important;
}

/* FOOTER */

.footer{

    background: #0d111a;

    color: white;

    padding: 70px 0 20px;

    margin-top: 80px;
}

.footer h3,
.footer h4{

    color: #f0b22d;
}

.footer ul{

    list-style: none;

    padding: 0;
}

.footer ul li{

    margin-bottom: 10px;
}

.footer ul li a{

    color: #ccc;

    text-decoration: none;

    transition: .3s;
}

.footer ul li a:hover{

    color: #f0b22d;
}

.copy{

    text-align: center;

    margin-top: 20px;

    color: #aaa;
}