 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            background:
                linear-gradient(rgba(3, 13, 35, 0.85),
                    rgba(3, 13, 35, 0.95)),
                url('https://images.unsplash.com/photo-1544735716-392fe2489ffa?q=80&w=2070&auto=format&fit=crop');

            background-size: cover;
            background-position: center;

            color: white;

            font-family: 'Libre Baskerville', serif;

            overflow-x: hidden;
        }

        /* NAVBAR */

        .navbar {
            background: rgba(10, 10, 15, 0.95);
            border-bottom: 1px solid rgba(255, 187, 0, 0.2);
        }

        .navbar-brand {
            font-family: 'Cinzel', serif;
            color: #f0b22d !important;
            font-size: 28px;
        }

        .navbar-brand span {
            color: #2f7fff;
        }

        .nav-link {
            color: white !important;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 0 10px;
            transition: .3s;
        }

        .nav-link:hover {
            color: #f0b22d !important;
        }

        /* HERO */

        .hero {
            min-height: 100vh;

            display: flex;
            align-items: center;

            padding-top: 100px;
        }

        .hero-text small {
            color: #f0b22d;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-family: 'Bebas Neue', sans-serif;
            font-size: 18px;
        }

        .hero-title {
            font-family: 'Cinzel', serif;
            font-size: 90px;
            line-height: 1;
            margin: 20px 0;
        }

        .gold {
            color: #f0b22d;
        }

        .blue {
            color: #2f7fff;
        }

        .hero-text p {
            color: #d4d4d4;
            line-height: 1.8;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        /* STATS */

        .stats {
            display: flex;
            gap: 30px;
            margin-bottom: 35px;
            flex-wrap: wrap;
        }

        .stat h2 {
            color: #f0b22d;
            font-weight: bold;
            font-size: 35px;
        }

        .stat span {
            font-size: 12px;
            text-transform: uppercase;
            color: #ccc;
        }

        /* Botones */

        .hero-buttons {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .btn-gold {
            background: #f0b22d;
            color: black;
            padding: 15px 30px;
            border-radius: 8px;
            text-decoration: none;
            font-weight: bold;
            transition: .3s;
        }

        .btn-gold:hover {
            background: #ffc44d;
        }

        .btn-outline {
            border: 1px solid rgba(255, 255, 255, 0.5);
            padding: 15px 30px;
            border-radius: 8px;
            color: white;
            text-decoration: none;
            transition: .3s;
        }

        .btn-outline:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        /* Carrucel*/

        .carousel-box {
            background: rgba(255, 255, 255, 0.05);

            backdrop-filter: blur(10px);

            border-radius: 20px;

            overflow: hidden;

            box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
        }

        .carousel-item img {
            height: 450px;
            object-fit: cover;
        }

        .carousel-caption {
            background: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            padding: 20px;
        }

        /* Responsivo */

        @media(max-width:992px) {

            .hero {
                text-align: center;
                padding: 150px 20px 50px;
            }

            .hero-title {
                font-size: 60px;
            }

            .stats {
                justify-content: center;
            }

            .hero-buttons {
                justify-content: center;
            }

            .carousel-box {
                margin-top: 50px;
            }
        }

        @media(max-width:768px) {

            .hero-title {
                font-size: 45px;
            }

            .carousel-item img {
                height: 300px;
            }
        }
